@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Righteous');
/* font-family: 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Righteous');
/* font-family: 'Alfa Slab One', cursive; */

body {
    font-family: "Open Sans", serif;
    background-color: #d7e2de;
}

.form-inline{
    width: 100%;
}
.form_input {
    position: relative;
}
.form_input_search{
    border-radius: .50rem .50rem 0 0;
    font-family: 'Righteous', cursive;
    text-align: center;
}
.form_input_btn {
    background: url("svg/search.svg") center center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
.form_input_btn{
    width: 50px;
}
.img-fluid{
    max-height: 250px;
}
.block-popup {
    max-width: 600px;
    border-radius: .50rem;
}
.block-popup {
    background-color: #d8d0e8;
    box-shadow: 0px 0px 70px 10px rgba(96,125,113,1);
}
.profile_state{
    background-color: #ffffff;
    display: flex;
    width: 100%;
    padding: 15px;
    border-radius: 0 0 .50rem .50rem;
}
.profile_state ul{
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.profile_state ul li{
    width: 40%;
    text-align: center;
}
.profile_state ul li p{
    font-family: 'Alfa Slab One', cursive; 
    font-size: 15px;

}
.profile_state ul li span{
    font-family: 'Alfa Slab One', cursive; 
    font-size: 25px;
}
.rounded-circle {
    border-radius: 50%!important;
    box-shadow: 0px 0px 20px 2px;
    display: block;
    width: 100%;
    margin: 0 auto;
}
.profile-avatar {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.profile-avatar a{
    color: #1a1c1b;
    border-radius: 50%!important;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    transition: 0.5s ease-out;

}
.profile-avatar a:hover{
    border-radius: 50%!important;
    color: #1a1c1b;
    box-shadow: 0px 0px 30px 12px;
    transform: scale(0.9);
}
.error{
    text-align: center;
    font-family: 'Righteous', cursive; 
    font-size: 20px;
    display: block;
    text-transform: capitalize;
    color: #ed3902;
    font-weight: bold;
}
h2{
    font-family: 'Righteous', cursive;
    text-transform: capitalize;
    font-size: 40px;
}
h5{
    font-family: 'Alfa Slab One', cursive; 
}
h6{
    font-family: 'Alfa Slab One', cursive; 
}